.black-space{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: black;
    border: solid 1px black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
