.body{
    background-color: lightgray;
    min-height: 100vh;
    min-width: 100vw;

}

.board{
    border: solid 12px black;
    height: 810px;
    width: 811px;
    display: flex;
    flex-wrap: wrap;
}

